
.react-course-player, .react-course-player > *  {
  box-sizing: border-box;
}

.react-course-player > *:before, .react-course-player > *:after {
  box-sizing: inherit;
}

.react-course-player {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.react-course-player__header {
  width: 100%;
  height: 50px;
}

.react-course-player__body {
  height: 100%;
  display: flex;
}

.react-course-player__video-wrapper {
  flex-basis: 80%;
}

.react-course-player__video-wrapper video {
  width: 100%;
  height: 95%;
}

.react-course-player__menu {
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
}

.react-course-player__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.react-course-player__section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  width: 100%;
}

.react-course-player__lesson {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  width: 100%;
}